*
!index.html
!client-package.json
!catalyst.json
!README.md
!KSP Datathon 2026 _ Prototype Submission Template (1).pptx
!KSP_Datathon_2026_Official_Submission_Deck.pdf
!.gitignore
!styles/
!styles/**
!js/
!js/**
!client/
!client/**
