*
!index.html
!client-package.json
!catalyst.json
!README.md
!NeuralKSP_Hack2Skill_Official_Template.pptx
!NeuralKSP_Prototype_Deck.pdf
!.gitignore
!styles/
!styles/**
!js/
!js/**
!client/
!client/**
